html
  head
    title!= title
  body
    table
      caption
        tr
          th!= title
        each item in items
          tr
            td= item.id
            td= item.comment
            td= item.workedFrom
            td= item.workedTo
            td= item.wasSigned ? '+' : '-'
