doctype html
html
  head
    title Отчет
    style
      include common.css
  body
    table.info-table
      caption Отчет по сменам
        tr
          th '#'
          th Коментарий
          th Начало
          th Конец
          th Принято
        each item, index in items
          tr(onclick="document.location = employee.html?#{item.employeeId}")
            td= index + 1
            td= item.comment
            td= formatDate(item.workedFrom)
            td= formatDate(item.workedTo)
            td= item.wasSigned ? '+' : '-'
